
body {
    padding: 30px;
    background: linear-gradient(150deg, #c9f7e1, #e8fff4);
    font-family: monospace;
}


.card {
    box-sizing: border-box;
    margin: 0;
    padding: 34px;
    border-radius: 22px;
}


.okvir {
    max-width: 900px;
    background-color: white;
    border-radius: 22px;
    padding: 34px;
    box-shadow: 14px 20px rgba(0,0,0,0.10);
    border: 2px solid white;
}


h1 {
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 34px;
    color: #1e6b4f;
}

h2 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #145c43;
    margin-bottom: 10px;
}
p {
    margin: 0;
    padding: 2px;
    line-height: 1.75;
    color: #2e5f4b;
    font-size: 17px;
}
.podnaslov {
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    color: #2e5f4b;
    margin-bottom: 20px;
}


.blok1 {
    font-size: 17px;
    background: linear-gradient(150deg, #e9fff5, #f3fff9);
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    box-shadow: 5px 10px rgba(0,0,0,0.10);
}

.blok2 {
    font-size: 17px;
    background: linear-gradient(90deg, #7ee0b2, #c8ffe8);
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    box-shadow: 5px rgba(0,0,0,0.10);
    text-transform: uppercase;
    color: #145c43;
}

.blok3 {
    font-size: 15px;
    background-image: url("https://github.com/banicl/sjiwp/blob/main/primjer-2-prakticne-provjere/pozadina.jpg?raw=true");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
}

.blok3 .overlay {
    background-color: #ADD8E6;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid white;
    box-shadow: 5px 10px rgba(0,0,0,0.10);
}

.tekst {
    background: rgba(255,255,255,0.70);
    border-radius: 15px;
    padding: 10px;
}

.naglasak {
    color: #0b7a55;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    background-color: rgba(11,122,85,0.14);
    padding: 5px;
    border-radius: 8px;
    font-weight: 5px;
}